.h1{
    text-align: center;
    font-size: 400%;
    -webkit-text-stroke:2px black;
    border: 1px black solid;
    background-color: #AA8B56;
}
.mine{
    position: absolute;
    width: 116px;
    height: 200px;
    left: 500px;
    top: 60px;
}
.p1{
    width: 300px;
    height: 89px;
    font-size: 300%;
    -webkit-text-stroke:1px black;
}

.p2{
    position: absolute;
    width: 400px;
    height: 89px;
    font-size: 400%;
    top: 25px;
    -webkit-text-stroke:1px black;
}

.p3{
    position: absolute;
    top: 110px;
    font-size: 300%;
    -webkit-text-stroke:1px black;
    
}

.p4{
    position: absolute;
    top: 80px;
    left: 60px;
    font-size: 400%;
    -webkit-text-stroke:1px black;
}
.mine0{
    border: 1px black solid;
    width: 926px;
    height: 396px;
    border-radius: 400px;
    position: absolute;
    left: 220px;
    background-color: #618B66;
}
.me{
    width: 388px;
    height: 388px;
    border-radius: 200px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.mine2{
    position: absolute;
    width: 600px;
    height: 89px;
    left: 50px;
    top: 50px;
}
.p5{
    width: 300px;
    height: 89px;
    font-size: 300%;
    -webkit-text-stroke:1px black;
}

.p6{
    position: absolute;
    width: 300px;
    height: 89px;
    font-size: 400%;
    top: 20px;
    -webkit-text-stroke:1px black;
}

.p7{
    position: absolute;
    top: 53px;
    left: 350px;
    font-size: 300%;
    -webkit-text-stroke:1px black;
}

.p8{
    position: absolute;
    top: 80px;
    font-size: 400%;
    -webkit-text-stroke:1px black;
}
.mine1{
    border: 1px black solid;
    width: 926px;
    height: 396px;
    border-radius: 100px;
    position: absolute;
    left: 220px;
    top: 700px;
    background-color: #AA8B56;
}
.com{
    width: 388px;
    height: 388px;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 535px;
}

.mine4{
    position: absolute;
    width: 600px;
    height: 89px;
    left: 400px;
    top: -50px;
}
.p9{
    width: 400px;
    height: 89px;
    font-size: 300%;
    -webkit-text-stroke:1px black;
}

.p10{
    position: absolute;
    width: 500px;
    height: 89px;
    font-size: 400%;
    top: 200px;
    -webkit-text-stroke:1px black;
}


.mine3{
    border: 1px black solid;
    width: 926px;
    height: 396px;
    border-radius: 200px;
    position: absolute;
    left: 220px;
    top: 1200px;
    background-color: #B05B3B;
}
.web{
    width: 388px;
    height: 388px;
    border-radius: 200px;
    position: absolute;
    top: 4px;
    left: 4px;
}
.h2{
    text-align: center;
    font-size: 400%;
    -webkit-text-stroke:2px black;
    border: 1px black solid;
    background-color: #AA8B56;
    position: absolute;
    top: 1500px;
    width:1330px
}

.ro{
    position: absolute;
    top: 200px;
}

.mine6{
    position: absolute;
    width: 600px;
    height: 89px;
    left: 90px;
    top: 20px;
}
.p11{
    width: 700px;
    height: 89px;
    font-size: 400%;
    -webkit-text-stroke:1px black;

}
.mine5{
    border: 1px black solid;
    width: 926px;
    height: 396px;
    border-radius: 100px;
    position: absolute;
    left: 220px;
    top: 1700px;
    background-color: #87431D;
}
.walk{
    width: 320px;
    height: 388px;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 600px;
}

.mine8{
    position: absolute;
    width: 1000px;
    height: 200px;
    left: 400px;
}
.p12{
    width: 1000px;
    height: 89px;
    font-size: 400%;
    -webkit-text-stroke:1px black;
}


.mine7{
    border: 1px black solid;
    width: 926px;
    height: 396px;
    border-radius: 400px;
    position: absolute;
    left: 220px;
    top: 2200px;
    background-color: #BA7333;
}
.lo{
    width: 388px;
    height: 388px;
    border-radius: 200px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.mine10{
    position: absolute;
    width: 600px;
    height: 89px;
    left: 60px;
    top: 20px;
}
.p13{
    width: 700px;
    height: 89px;
    font-size: 400%;
    -webkit-text-stroke:1px black;

}
.mine9{
    border: 1px black solid;
    width: 926px;
    height: 396px;
    border-radius: 100px;
    position: absolute;
    left: 220px;
    top: 2700px;
    background-color: #EDBC81;
}
.sh{
    width: 320px;
    height: 388px;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 600px;
}

.mine11{
    width: 926px;
    height: 926px;
    position: absolute;
    top: 3200px;
    left: 220px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: #8799AF;
}

.bhh{
    position: absolute;
    top: 10px;
    left: 45px;
    width: 400px;
    height: 700px;
    border-radius: 100px;
}

.be{
    position: absolute;
    top: 10px;
    left: 485px;
    width: 400px;
    height: 700px;
    border-radius: 100px;
}

.p15{
    width: 1000px;
    height: 400px;
    font-size: 350%;
    -webkit-text-stroke:1px black;
    position: absolute;
    top: 650px;
    left: 60px;
}

.mine13{
    width: 926px;
    height: 926px;
    position: absolute;
    top: 1050px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: #1F4C6D;
}

.pa{
    position: absolute;
    top: 10px;
    left: 45px;
    width: 400px;
    height: 700px;
    border-radius: 100px;
}

.ga{
    position: absolute;
    top: 10px;
    left: 485px;
    width: 400px;
    height: 700px;
    border-radius: 100px;
}

.re{
    position: absolute;
    left: 220px;
    top: 3500px;
}

.h3{
    text-align: center;
    font-size: 400%;
    -webkit-text-stroke:2px black;
    border: 1px black solid;
    background-color: #AA8B56;
    position: absolute;
    top: 5400px;
    width:1330px
}

.p16{
    width: 1000px;
    height: 400px;
    font-size: 350%;
    -webkit-text-stroke:1px black;
    position: absolute;
    top: 650px;
    left: 60px;
}

.mine16{
    position: absolute;
    width: 600px;
    height: 89px;
    left: 50px;
    top: -675px;
}
.p16{
    width: 300px;
    height: 89px;
    font-size: 300%;
    -webkit-text-stroke:1px black;
}


.mine15{
    border: 1px black solid;
    width: 926px;
    height: 396px;
    border-radius: 100px;
    position: absolute;
    top: 2100px;
    background-color: #AA8B56;
}
.sw{
    width: 388px;
    height: 388px;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 535px;
}

.mine18{
    position: absolute;
    width: 600px;
    height: 89px;
    left: 400px;
    top: -30px;
}
.p17{
    width: 400px;
    height: 89px;
    font-size: 350%;
    -webkit-text-stroke:1px black;
    position: absolute;
    top: 30px;
}

.p18{
    width: 400px;
    height: 89px;
    font-size: 400%;
    -webkit-text-stroke:1px black;
    position:absolute;
    top: 80px;
}

.mine17{
    border: 1px black solid;
    width: 926px;
    height: 396px;
    border-radius: 200px;
    position: absolute;
    top: 2600px;
    background-color: #B05B3B;
}
.hw{
    width: 388px;
    height: 388px;
    border-radius: 200px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.gp{
    width: 926px;
    height: 496px;
    position: absolute;
    top: 3050px;
    border-radius: 100px;
    border: 1px solid black;
}

.h4{
    text-align: center;
    font-size: 400%;
    -webkit-text-stroke:2px black;
    border: 1px black solid;
    background-color: #AA8B56;
    position: absolute;
    top: 7000px;
    width:1330px
}

.h5{
    text-align: center;
    font-size: 300%;
    -webkit-text-stroke:2px black;
    position: absolute;
    top: 7100px;
    width:1330px
}

.mine20{
    position: absolute;
    top: 7200px;
    left: 220px;
}

.mine19{
    border: 1px solid black;
    border-radius: 100px;
    width: 926px;
    height: 926px;
    background-color: #3D4B5F;
    position: absolute;
}

.py{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 400px;
    height: 400px;
    border-radius: 100px;
    -webkit-text-stroke:2px black;
}

.p19{
    font-size: 300%;
    position: absolute;
    top: -5px;
    width: 500px;
    left: 430px;
}

.p20{
    font-size: 300%;
    position: absolute;
    top: 7600px;
    left: 250px;
    width: 450px;
}

.pyy{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 7600px;
    left: 730px;
    border-radius: 100px;
}

.p21{
    position: absolute;
    top: 8000px;
    left: 680px;
    font-size: 300%;
}

.h6{
    text-align: center;
    font-size: 300%;
    -webkit-text-stroke:2px black;
    position: absolute;
    top: 8100px;
    width:1330px
}


.mine22{
    border: 1px solid black;
    border-radius: 100px;
    width: 926px;
    height: 926px;
    background-color: #BA7333;
    position: absolute;
    top: 8200px;
    left: 220px;
}

.html{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 400px;
    border-radius: 100px;
    -webkit-text-stroke:2px black;
}

.p22{
    font-size: 300%;
    position: absolute;
    top: 50px;
    width: 450px;
    left: 480px;
}


.css{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 550px;
    left: 500px;
    border-radius: 100px;
}

.p23{
    position: absolute;
    top: 550px;
    left: 50px;
    font-size: 300%;
    width: 500px;
}

.mine23{
    width: 926px;
    height: 926px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: #AA8B56;
    position: absolute;
    top: 9250px;
    left: 220px;
}

.js{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 60px;
    left: 60px;
    border-radius: 100px;
}

.p24{
    font-size: 300%;
    position: absolute;
    top: 550px;
    left: 30px;
}

.skill{
    position: absolute;
    top: 10200px;
    left: 320px;
}

.s1{
    font-size: 400%;
    position: absolute;
    left: -100px;
    top: -50px;
    width: 600px;
}

.s2{
    font-size: 300%;
    position: absolute;
    top: 60px;
    left: 100px;
}

.c{
    font-size: 400%;
    position: absolute;
    top: 280px;
    left: -100px;
}

.c1{
    position: absolute;
    top: 350px;
    left: 100px;
    font-size: 300%;
    width: 700px;
}